<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit(form)"
      *ngIf="form != undefined && form != null"
    >
      <div class="form-group">
        <label for="ddlUsername">Kullanıcı Adı</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="Username"
          id="ddlUsername"
          placeholder="Kullanıcı Adınızı Giriniz"
        />
      </div>
      <div class="form-group">
        <label for="ddlPassword">Şifre</label>
        <input
          type="password"
          class="form-control form-control-sm"
          id="ddlPassword"
          formControlName="Password"
          placeholder="Şifrenizi Giriniz"
        />
      </div>
      <button type="submit" class="btn btn-primary">Giriş Yap</button>
      <button type="button" class="btn btn-success" (click)="Register()">
        Kayıt Ol
      </button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
